@import url('https://fonts.googleapis.com/css?family=Podkova&script=all&rev=1|Raleway&display=swap');
html,
body {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: #392119;
  font-size: 16px;
  background-color: #fbf5e8;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-accent {
  font-family: 'Podkova', serif;
}
header {
  position: relative;
}
header .back {
  position: relative;
  z-index: 1;
  background: #7bb111 url("../img/bg_header.jpg") 20% 0 no-repeat;
  background-size: auto 100%;
  height: 420px;
}
header .logo {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 25px;
  width: 150px;
  height: 100px;
  background: transparent url("../img/logo.svg") 0 0 no-repeat;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(89, 89, 89, 0.5));
  filter: drop-shadow(0px 2px 2px rgba(89, 89, 89, 0.5));
}
header .logo h1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}
header .price {
  z-index: 2;
  position: absolute;
  background-color: rgba(20, 26, 13, 0.6);
  width: 80%;
  padding: 20px;
  left: 0;
  right: 0;
  color: #fbf5e8;
  margin: auto;
  top: 160px;
  font-size: 22px;
  font-weight: 500;
}
header .price span {
  line-height: 1.2;
  text-transform: uppercase;
}
header .price .middle {
  padding: 10px 0;
}
header .price .middle span {
  font-size: 18px;
}
header .price .middle .amount {
  font-family: 'Podkova', serif;
  font-size: 54px;
  letter-spacing: -2px;
  color: #fac011;
}
.underhead {
  z-index: 3;
  margin-top: -70px;
  position: relative;
}
.underhead .woodbox {
  color: #fbf5e8;
  width: 320px;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 140px;
  padding-right: 28px;
  padding-bottom: 24px;
  background: transparent url("../img/pic_woodbox-mobile.png") 0 0 no-repeat;
}
.underhead h2 {
  font-family: 'Podkova', serif;
  font-size: 18px;
  font-weight: 400;
}
.underhead .list {
  list-style-type: none;
  font-size: 14px;
}
.underhead .list .item {
  margin-bottom: 4px;
  line-height: 1.4;
}
.underhead h2,
.underhead .list {
  text-transform: uppercase;
}
.underhead .marked {
  color: #fff43c;
}
.underhead .videobox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
  text-align: center;
}
.underhead .videobox video {
  box-shadow: 0px 4px 32px 6px rgba(32, 32, 32, 0.4);
}
.underhead .videobox .features {
  padding: 30px 20px;
  color: #392119;
  font-family: 'Raleway', sans-serif;
  position: relative;
  text-align: left;
}
.underhead .videobox .features::after {
  position: absolute;
  right: 5%;
  content: '';
  display: block;
  bottom: 25px;
  width: 40px;
  height: 170px;
  background: transparent url("../img/pic_tools-2.png") center center no-repeat;
}
.underhead .videobox .features h3 {
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.underhead .videobox .features p {
  font-weight: normal;
  font-size: 18px;
}
main h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 4rem;
}
main section .wrapper {
  padding: 40px 10px;
  margin-left: auto;
  margin-right: auto;
}
main .dark {
  color: #fbf5e8;
  background-color: #1f1d17;
}
main .dark .ui.list li::before {
  color: inherit;
}
main .green {
  color: #fbf5e8;
  background-color: #7bb111;
}
section.why-choose {
  background: url("../img/bg_section-1-small.jpg") center bottom no-repeat;
  background-size: cover;
}
section.why-choose p {
  text-align: justify;
}
section.benefits {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 300px;
  background: #7bb111 url("../img/bg_section-2-small.jpg") 30% bottom no-repeat;
  background-size: 180% auto;
}
section.benefits ol {
  counter-reset: bCounter;
  margin: 0;
  padding: 0;
}
section.benefits li {
  color: #ffffff;
  list-style: none;
  font-size: 18px;
  text-align: left;
  margin-bottom: 40px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}
section.benefits li::before {
  font-size: 36px;
  padding-bottom: 20px;
  counter-increment: bCounter;
  content: counter(bCounter);
  display: block;
}
section.technology p {
  text-align: justify;
  line-height: 1.54;
  margin-left: auto;
  margin-right: auto;
}
section.technology .grid {
  margin-bottom: 4rem;
}
section.technology .pic img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
section.technology .conclusion {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
section.tendency {
  background: #5d2a1f url("../img/bg_section-4.jpg") center 0 no-repeat;
  background-size: cover;
}
section.tendency p {
  line-height: 1.54;
}
section.tendency .pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 100px;
}
section.guarantee {
  background: #7bb111 url("../img/bg_section-5.jpg") center bottom no-repeat;
  background-size: cover;
}
section.guarantee .column p {
  padding-bottom: 3rem;
}
section.guarantee .count {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 2;
  font-size: 36px;
  font-family: 'Podkova', serif;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 20px;
}
section.guarantee .count::before,
section.guarantee .count::after {
  border-radius: 50%;
  position: absolute;
  display: block;
  content: '';
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.guarantee .count::before {
  border: 1px solid #ffffff;
}
section.guarantee .count::after {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
}
section.guarantee p {
  text-align: justify;
  line-height: 1.54;
}
section.plan {
  padding-left: 0;
  padding-right: 0;
}
section.plan h3 {
  position: relative;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}
section.plan h3::before,
section.plan h3::after {
  top: 6px;
  position: absolute;
  display: none;
  content: '';
  width: 150px;
  height: 45px;
  background: url(../img/pic_tools-4.png) 0 0 no-repeat;
  background-size: 100% auto;
}
section.plan h3::before {
  left: -165px;
}
section.plan h3::after {
  right: -165px;
  transform: scaleX(-1);
  /* Standard */
  filter: FlipH;
  /* IE 6/7/8 */
}
section.plan .icon-1 {
  background-image: url("../img/icon-p1.svg");
}
section.plan .icon-2 {
  background-image: url("../img/icon-p2.svg");
}
section.plan .icon-3 {
  background-image: url("../img/icon-p3.svg");
}
section.plan .icon-4 {
  background-image: url("../img/icon-p4.svg");
}
section.plan .step-list {
  counter-reset: bCounter;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.plan .step-list .column {
  margin: 20px auto;
  padding: 56px 32px;
  height: 310px;
  max-width: 220px;
  background-position: center 150px;
  background-size: 145px auto;
  background-repeat: no-repeat;
  color: #4e3329;
  list-style: none;
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
  position: relative;
  font-weight: 600;
  background-color: #ffffff;
}
section.plan .step-list .column::before {
  position: absolute;
  min-width: 48px;
  line-height: 48px;
  font-weight: 300;
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 0 10px 0 10px;
  background: #ccc4b7;
  color: #fbf5e8;
  font-size: 30px;
  counter-increment: bCounter;
  content: counter(bCounter);
  display: block;
}
section.wood-house {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #edeae5 url("../img/bg_section-6.jpg") right bottom no-repeat;
  background-size: auto 400px;
}
section.wood-house .wrapper {
  padding-left: 0;
  padding-right: 0;
}
section.wood-house h3 {
  font-weight: 900;
}
section.wood-house h3 small {
  display: block;
  text-transform: lowercase;
}
section.wood-house .desc {
  text-align: center;
}
section.specs .column h4 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0 8px;
}
section.specs .column .white {
  padding: 16px;
  border-radius: 10px;
  background-color: #ffffff;
}
section.specs .column .pic {
  text-align: center;
}
section.specs .column .pic img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
section.specs .column .accordion {
  margin-top: 12px;
  box-shadow: none;
}
section.specs .column .accordion .title {
  font-family: 'Raleway', sans-serif;
  padding-left: 0;
}
section.specs .price {
  background: transparent url("../img/pic_offer-yellow.png") center center no-repeat;
  line-height: 77px;
  max-width: 279px;
  margin-left: auto;
  margin-right: auto;
}
section.specs .price strong {
  font-size: 24px;
}
section.specs .price.gray {
  background-image: url("../img/pic_offer-gray.png");
}
section.question {
  padding: 0;
  background-color: #d9ccba;
}
section.question a {
  color: #5d2a1f;
}
section.question h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
section.question h2 small {
  line-height: 1;
  text-transform: initial;
  font-size: 28px;
  font-weight: normal;
  display: block;
}
section.question .text {
  text-align: right;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #fbf5e8;
  background: url("../img/bg_contacts.jpg") right 0 no-repeat;
  background-size: cover;
  min-height: 400px;
}
section.question .text > * {
  max-width: 310px;
}
section.question .text h2,
section.question .text p {
  text-shadow: 0px 2px 2px rgba(89, 89, 89, 0.5);
}
section.question .fillmeharder {
  padding: 20px 14px;
}
section.question .fillmeharder a {
  text-decoration: underline;
}
section.question fieldset {
  max-width: 290px;
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0 auto 2rem auto;
  min-width: 0;
}
section.question .dopustim {
  display: none;
}
footer a {
  color: #5d2a1f;
}
footer .row {
  text-align: center;
}
footer .wrapper {
  padding: 6rem 20px 3rem;
}
footer .smallest {
  font-size: 14px;
}
footer .smallest a {
  text-decoration: underline;
}
footer .logo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 220px;
  height: 160px;
  background: url("../img/logo-fullcolor.svg") center center no-repeat;
}
footer .logo p {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}
footer .contacts,
footer .address {
  font-size: 18px;
  padding-top: 40px;
}
footer .phone {
  font-size: 28px;
  font-family: 'Podkova', serif;
}
footer .contacts a {
  display: inline-block;
  margin-bottom: 12px;
}
button,
.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Podkova', serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: none;
  -webkit-tap-highlight-color: transparent;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}
button.yellow,
.button.yellow {
  color: #5d2a1f;
  background-color: #fac011;
  border-top: transparent 4px solid;
  border-bottom: #d1a10e 4px solid;
}
button.wide,
.button.wide {
  min-width: 290px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.v-space {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.v-space.double {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.v-space.triple {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.v-space.quad {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form textarea {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
}
@media only screen and (min-width: 480px) {
  header .back {
    height: 560px;
  }
  header .price {
    width: auto;
    top: 210px;
    right: 40px;
    left: 40px;
    padding: 40px;
    font-size: 24px;
  }
  header .price .middle {
    padding: 4px 0;
  }
  header .price .middle .amount {
    font-size: 64px;
  }
  .underhead {
    margin-top: -170px;
  }
  .underhead .woodbox {
    width: auto;
    padding-top: 180px;
    padding-left: 180px;
    padding-bottom: 36px;
    margin: 0 40px 0 20px;
    background-image: url("../img/pic_woodbox.png");
  }
  .underhead h2 {
    font-size: 28px;
    line-height: 1.1;
  }
  .underhead .videobox {
    align-items: flex-start;
  }
  .underhead .videobox .features {
    padding: 40px;
  }
  .underhead .videobox video {
    margin-left: 40px;
  }
  main section {
    padding-left: 15%;
    padding-right: 15%;
  }
  section.benefits {
    padding-bottom: 240px;
    background: #7bb111 url("../img/bg_section-2-small.jpg") center bottom no-repeat;
    background-size: 120% auto;
  }
  section.benefits ol {
    display: flex;
    flex-wrap: wrap;
  }
  section.benefits li {
    flex-shrink: 0;
    width: 45%;
  }
  section.plan .step-list .column {
    max-width: 230px;
  }
}
@media only screen and (min-width: 768px) {
  header .back {
    height: 640px;
    background-size: cover;
    background-position-x: center;
  }
  header .logo {
    width: 190px;
    height: 130px;
    left: 70px;
    top: 40px;
  }
  header .price {
    left: 80px;
    right: auto;
    padding: 64px;
    width: 50%;
  }
  header .price span {
    line-height: 1.47;
  }
  .underhead h2 {
    font-size: 48px;
  }
  .underhead .woodbox {
    width: 600px;
    margin-right: 80px;
    margin-left: auto;
    padding-bottom: 58px;
    padding-top: 170px;
    padding-left: 200px;
  }
  .underhead .list {
    font-size: 18px;
  }
  .underhead .videobox {
    margin-top: -40px;
    text-align: left;
    margin-left: 80px;
    padding-left: 0;
  }
  .underhead .videobox video {
    margin-left: 0;
  }
  .underhead .videobox .features {
    padding-left: 0;
  }
  main h3 {
    font-size: 48px;
  }
  main section .wrapper {
    padding: 80px 0;
    max-width: 1280px;
  }
  section.why-choose {
    background-image: url("../img/bg_section-1.jpg");
  }
  section.benefits {
    background-size: 100% auto;
  }
  section.benefits ol {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  section.tendency .desc {
    flex: 2;
  }
  section.tendency .pic {
    flex: 1;
  }
  section.tendency .pic img {
    max-width: 100%;
  }
  section.plan h3::before,
  section.plan h3::after {
    display: block;
  }
  section.plan .step-list .column {
    margin: 10px;
  }
  section.wood-house {
    background-size: auto 500px;
  }
  section.wood-house h3,
  section.wood-house .desc {
    text-align: left;
  }
  section.question {
    display: flex;
    flex-wrap: nowrap;
  }
  section.question h2 small {
    font-size: 36px;
  }
  section.question > * {
    flex: 1;
  }
  section.question fieldset {
    max-width: 500px;
    margin-left: 0;
  }
  section.question .fillmeharder {
    padding: 30px;
  }
  footer .row {
    text-align: left;
  }
}
@media only screen and (min-width: 960px) {
  header .back {
    height: 720px;
  }
  header .price {
    top: 240px;
    width: 560px;
  }
  header .price .middle .amount {
    font-size: 100px;
    line-height: 1.1;
  }
  .underhead {
    margin-top: -210px;
  }
  .underhead .woodbox {
    width: 680px;
  }
  .underhead .videobox {
    position: relative;
    flex-direction: row;
  }
  .underhead .videobox::before {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    top: -85px;
    width: 150px;
    height: 70px;
    background: transparent url("../img/pic_tools-1.png") 0 0 no-repeat;
  }
  .underhead .videobox .features {
    padding-left: 40px;
    padding-top: 75px;
  }
  section.benefits {
    padding-bottom: 380px;
  }
  section.technology .text p {
    max-width: 386px;
  }
  section.technology .grid:not(.reversed) .pic img {
    margin-left: 0;
  }
  section.technology .grid:not(.reversed) .text p {
    margin-right: 0;
  }
  section.technology .grid.reversed .pic img {
    margin-right: 0;
  }
  section.technology .grid.reversed .text p {
    margin-left: 0;
  }
  footer .phone {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  header .back {
    height: 920px;
  }
  header .logo {
    top: 60px;
    left: 90px;
    width: 240px;
    height: 190px;
  }
  header .price {
    top: 290px;
    left: auto;
    right: 48%;
    padding: 90px;
  }
  header .price .middle .amount {
    font-size: 120px;
  }
  .underhead .woodbox {
    margin-right: auto;
    margin-left: 41%;
  }
  .underhead .videobox {
    margin-left: auto;
    margin-right: 48%;
    width: 560px;
  }
  .underhead .videobox .features {
    margin-right: -90%;
    padding-top: 120px;
    padding-left: 80px;
  }
  section.benefits {
    padding-bottom: 400px;
    background-image: url("../img/bg_section-2.jpg"), url("../img/section2-bottom.png");
    background-position: center bottom, 0 bottom;
    background-repeat: no-repeat, repeat-x;
    background-size: 1280px auto, auto 146px;
  }
  section.benefits ol {
    flex-wrap: nowrap;
    width: auto;
  }
  section.benefits li {
    text-align: center;
    width: 20%;
    margin-bottom: 0;
  }
  section.benefits li:nth-child(2) {
    padding-right: 80px;
    padding-left: 0;
  }
  section.benefits li:nth-child(4) {
    padding-right: 0;
    padding-left: 80px;
  }
  section.benefits li:nth-child(5) {
    padding-left: 50px;
    padding-right: 0;
  }
  section.benefits li:nth-child(1) {
    padding-right: 50px;
    padding-left: 0;
  }
  section.benefits li:nth-child(1),
  section.benefits li:nth-child(2) {
    text-align: right;
  }
  section.benefits li:nth-child(4),
  section.benefits li:nth-child(5) {
    text-align: left;
  }
  section.benefits li:nth-child(1),
  section.benefits li:nth-child(5) {
    padding-top: 180px;
  }
  section.benefits li:nth-child(2),
  section.benefits li:nth-child(4) {
    margin-top: 70px;
  }
  section.wood-house {
    background-size: cover;
  }
}
.only {
  display: none;
}
@media only screen and (min-width: 320px) {
  header .underhead .videobox .features {
    padding-right: 90px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  header .underhead .woodbox {
    width: 90%;
    background-position-x: right;
    background-size: 100% auto;
    margin: 0 0 0 auto;
    padding-left: 33%;
    padding-top: 130px;
  }
  .on-screen-320px.show {
    display: inline-block;
  }
  section.tendency .ui.grid .column.pic {
    display: none;
  }
  section.wood-house form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  section.wood-house form button {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .on-screen-480px.show {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .on-screen-768px.show {
    display: inline-block;
  }
}
@media only screen and (min-width: 960px) {
  .on-screen-960px.show {
    display: inline-block;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  header .underhead .videobox {
    flex-wrap: wrap;
  }
  header .underhead .videobox .features {
    padding-right: 160px;
  }
}
