@import url('https://fonts.googleapis.com/css?family=Podkova&script=all&rev=1|Raleway&display=swap');
html,
body {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: #392119;
  font-size: 16px;
  background-color: #fbf5e8;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-accent {
  font-family: 'Podkova', serif;
}
header {
  background: #7bb111 url("../img/bg_header.jpg") 20% 0 no-repeat;
  background-size: auto 100%;
  height: 420px;
  position: relative;
}
header .logo {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 150px;
  height: 100px;
  background: transparent url("../img/logo.svg") 0 0 no-repeat;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(89, 89, 89, 0.5));
  filter: drop-shadow(0px 2px 2px rgba(89, 89, 89, 0.5));
}
header .logo h1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}
header .price {
  position: absolute;
  background-color: rgba(20, 26, 13, 0.6);
  width: 80%;
  padding: 20px;
  left: 0;
  right: 0;
  color: #fbf5e8;
  margin: auto;
  top: 160px;
  font-size: 22px;
  font-weight: 500;
}
header .price span {
  line-height: 1.2;
  text-transform: uppercase;
}
header .price .middle {
  padding: 10px 0;
}
header .price .middle span {
  font-size: 18px;
}
header .price .middle .amount {
  font-family: 'Podkova', serif;
  font-size: 54px;
  letter-spacing: -2px;
  color: #fac011;
}
.underhead {
  top: 350px;
  position: relative;
}
.underhead .woodbox {
  color: #fbf5e8;
  width: 320px;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 140px;
  padding-right: 28px;
  padding-bottom: 24px;
  background: transparent url("../img/pic_woodbox-mobile.png") 0 0 no-repeat;
}
.underhead h2 {
  font-family: 'Podkova', serif;
  font-size: 18px;
  font-weight: 400;
}
.underhead .list {
  list-style-type: none;
  font-size: 14px;
}
.underhead .list .item {
  margin-bottom: 4px;
  line-height: 1.4;
}
.underhead h2,
.underhead .list {
  text-transform: uppercase;
}
.underhead .marked {
  color: #fff43c;
}
.underhead .videobox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
  text-align: center;
}
.underhead .videobox video {
  box-shadow: 0px 4px 32px 6px rgba(32, 32, 32, 0.4);
}
.underhead .videobox .features {
  padding: 30px 10px;
  color: #392119;
  font-family: 'Raleway', sans-serif;
}
.underhead .videobox .features h3 {
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.underhead .videobox .features p {
  font-weight: normal;
  font-size: 18px;
}
main h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 4rem;
}
main section .wrapper {
  padding: 40px 10px;
  margin-left: auto;
  margin-right: auto;
}
main .dark {
  color: #fbf5e8;
}
section.why-choose {
  background: #1f1d17 url("../img/bg_section-1-small.jpg") center bottom no-repeat;
  background-size: auto 100%;
}
section.why-choose p {
  text-align: justify;
}
footer .logo p {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
}
button,
.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Podkova', serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: none;
  -webkit-tap-highlight-color: transparent;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}
button.yellow,
.button.yellow {
  color: #5d2a1f;
  background-color: #fac011;
  border-top: transparent 4px solid;
  border-bottom: #d1a10e 4px solid;
}
button.wide,
.button.wide {
  min-width: 290px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.v-spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.v-spacer.double {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.v-spacer.triple {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.v-spacer.quad {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.only {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  header .underhead .woodbox {
    width: 90%;
    background-position-x: right;
    background-size: 100% auto;
    margin: 0 0 0 auto;
    padding-left: 33%;
    padding-top: 130px;
  }
  .on-screen-320px.show {
    display: inline-block;
  }
  main {
    margin-top: 1150px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 959px) {
  .on-screen-480px.show {
    display: inline-block;
  }
  main {
    margin-top: 1100px;
  }
}
@media only screen and (min-width: 960px) {
  .on-screen-960px.show {
    display: inline-block;
  }
  main {
    margin-top: 1000px;
  }
}
@media only screen and (min-width: 480px) {
  header {
    height: 560px;
  }
  header .price {
    width: auto;
    top: 210px;
    right: 40px;
    left: 40px;
    padding: 40px;
    font-size: 24px;
  }
  header .price .middle {
    padding: 4px 0;
  }
  header .price .middle .amount {
    font-size: 64px;
  }
  .underhead {
    top: 380px;
  }
  .underhead .woodbox {
    width: auto;
    padding-top: 180px;
    padding-left: 180px;
    padding-bottom: 36px;
    margin: 0 40px 0 20px;
    background-image: url("../img/pic_woodbox.png");
  }
  .underhead h2 {
    font-size: 28px;
    line-height: 1.1;
  }
  .underhead .videobox {
    align-items: flex-start;
  }
  .underhead .videobox .features {
    text-align: left;
    padding: 40px;
  }
  .underhead .videobox video {
    margin-left: 40px;
  }
  main section {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media only screen and (min-width: 720px) {
  header {
    height: 640px;
    background-size: cover;
    background-position-x: center;
  }
  header .logo {
    width: 190px;
    height: 130px;
    left: 70px;
    top: 40px;
  }
  header .price {
    left: 80px;
    right: auto;
    padding: 64px;
    width: 50%;
  }
  header .price span {
    line-height: 1.47;
  }
  .underhead {
    top: 480px;
  }
  .underhead h2 {
    font-size: 48px;
  }
  .underhead .woodbox {
    width: 600px;
    margin-right: 80px;
    margin-left: auto;
    padding-bottom: 58px;
    padding-top: 170px;
    padding-left: 200px;
  }
  .underhead .list {
    font-size: 18px;
  }
  .underhead .videobox {
    margin-top: -40px;
    text-align: left;
    margin-left: 80px;
    padding-left: 0;
  }
  .underhead .videobox video {
    margin-left: 0;
  }
  .underhead .videobox .features {
    padding-left: 0;
  }
  main section .wrapper {
    padding: 80px 0;
    max-width: 1280px;
  }
  section.why-choose {
    background-image: url("../img/bg_section-1.jpg");
    background-size: 100% auto;
  }
}
@media only screen and (min-width: 960px) {
  header {
    height: 720px;
  }
  header .price {
    top: 240px;
    width: 560px;
  }
  header .price .middle .amount {
    font-size: 100px;
    line-height: 1.1;
  }
  .underhead .woodbox {
    width: 680px;
  }
  .underhead .videobox {
    flex-direction: row;
  }
  .underhead .videobox .features {
    padding-left: 40px;
    padding-top: 75px;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    height: 920px;
  }
  header .logo {
    top: 60px;
    left: 90px;
    width: 240px;
    height: 190px;
  }
  header .price {
    top: 290px;
    left: auto;
    right: 48%;
    padding: 90px;
  }
  header .price .middle .amount {
    font-size: 120px;
  }
  .underhead {
    top: 640px;
  }
  .underhead .woodbox {
    margin-right: auto;
    margin-left: 41%;
  }
  .underhead .videobox {
    margin-left: auto;
    margin-right: 48%;
    width: 560px;
  }
  .underhead .videobox .features {
    margin-right: -90%;
    padding-top: 120px;
    padding-left: 80px;
  }
}
