// out: false
.text-hidden {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flexy {
    display: flex !important;

    .ui.modal>&.header {
        align-items: center;
        justify-content: space-between;

        h3 {
            margin-bottom: 0;
        }

        .cancel {
            padding: 5px 10px;
            width: auto;
            height: auto;
            font-size: 16px;
        }
    }
}
.v-space {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &.double {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &.triple {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &.quad {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}