// out: false
@media only screen and (min-width: 768px) {
    header {         
        .teaser {
            text-align: left;

            h2 {
                padding-top: 1.25rem;
                font-size: 2.5rem;
            }
        }
        .grid {
            width: 80%;
            max-width: 1100px;
        }
    }
    main {
        h3 {
            font-size: 3rem;
        }
        section {
            .wrapper {
                padding: 80px 0;                
                max-width: 1280px;
            }
        }
    }
    section.why-choose {
        background-image: url("../img/bg_section-1.jpg");    
    }
    section.benefits {
        background-size: 100% auto;
        ol {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    }
    section.tendency {
        .desc {
            flex: 2;
        }

        .pic {
            flex: 1;
            img {
                max-width: 100%;
            }
        }
    }
    section.plan {
        h3 {
            &::before, &::after {
                display: block;
            }
        }
        .step-list {
            .column {
                margin: 10px;
            }
        }
    }
    section.wood-house {
        background-size: auto 500px;
        h3, .desc {
            text-align: left;
        }
    }    
    section.question {
        display: flex;
        flex-wrap: nowrap;
        h2 {
            small {
                font-size: 36px;
            }
        }
        & > * {
            flex: 1;
        }
        fieldset {
            max-width: 500px;
            margin-left: 0;
        }
        .fillmeharder {
            padding: 30px;
        }
    }
    section.specs {
        padding-left: 80px;
        padding-right: 80px;
    }
    footer {
        .row {
            text-align: left;
        }
        .desktop-right {
            text-align: right;
        }
    }
    section[data-section="houses"] {
        h3 {
            font-size: 2.5rem;
        }
    }
}