// out: false
@color-hose:     #fbf5e8;
@color-grey:     #aaa699;
@color-terra:    #392119;
@color-coffee:   #4e3329;
@color-wood:     #5d2a1f;
@color-mocca:    #ccc4b7;
@color-lemon:    #fff43c;
@color-sun:      #fac011;
@color-blin:     #d1a10e;
@color-green:    #7bb111;
@color-shade:    rgba(20, 26, 13, .6);