// out: false
@media only screen and (min-width: 480px) {
    header {
        height: 560px;        
        .price {
            width: auto;
            top: 210px;
            right: 40px;
            left: 40px;
            padding: 40px;
            font-size: 24px;
            .middle {
                padding: 4px 0;
                .amount {
                    font-size: 64px;
                }
            }
        }
    }
    .underhead {
        top: 380px;
        .woodbox {
            width: auto;
            padding-top: 180px;
            padding-left: 180px;
            padding-bottom: 36px;
            margin: 0 40px 0 20px;
            background-image: url("../img/pic_woodbox.png");
        }
        h2 {
            font-size: 28px;
            line-height: 1.1;
        }
        .videobox {
            align-items: flex-start;            
            .features {
                text-align: left;
                padding: 40px;
            }
            video {
                margin-left: 40px;
            }
        }
    }
}