// out: false
@media only screen and (min-width: 480px) {
    header {
        .back {
            height: 560px;
        }
        .price {
            width: auto;
            top: 210px;
            right: 40px;
            left: 40px;
            padding: 40px;
            font-size: 24px;
            .middle {
                padding: 4px 0;
                .amount {
                    font-size: 64px;
                }
            }
        }
    }
    .underhead {
        margin-top: -170px;
        .woodbox {
            width: auto;
            padding-top: 180px;
            padding-left: 180px;
            padding-bottom: 36px;
            margin: 0 40px 0 20px;
            background-image: url("../img/pic_woodbox.png");
        }
        h2 {
            font-size: 28px;
            line-height: 1.1;
        }
        .videobox {
            align-items: flex-start;            
            .features {                
                padding: 40px;
            }
            .video {
                margin-left: 40px;
            }
        }
    }
    main {
        section {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    section.benefits {
        padding-bottom: 240px;
        background: @color-green url("../img/bg_section-2-small.jpg") center bottom no-repeat;
        background-size: 120% auto;
        ol {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            flex-shrink: 0;
            width: 45%;
        }
    }
    section.plan {
        .step-list {          
            .column {
                max-width: 230px;
            }
        }
    }
    section.specs {
        .price {
            background-size: 100% auto;
        }
    }
}