// out: false
@media only screen and (min-width: 960px) {
    header {        
        height: 720px;
        .price {
            top: 240px; 
            width: 560px;       
            .middle {
                .amount {
                    font-size: 100px;
                    line-height: 1.1;
                }
            }
        }
    }
    .underhead {
        .woodbox {
            width: 680px;
        }
        .videobox {
            flex-direction: row;
            .features {
                padding-left: 40px;
                padding-top: 75px;
            }
        }
    }
}