@import url('https://fonts.googleapis.com/css?family=Podkova|Raleway&display=swap');

@font-podkova:   'Podkova', serif;
@font-raleway:   'Raleway', sans-serif;
@font-base:      16px;

@color-hose:     #fbf5e8;
@color-grey:     #aaa699;
@color-dark:     #392119;
@color-coffee:   #4e3329;
@color-wood:     #5d2a1f;
@color-mocca:    #ccc4b7;
@color-sun:      #fac011;
@color-blin:     #d1a10e;
@color-green:    #7bb111;


body {
    margin: 0;
    padding: 0;
    font-family: @font-podkova;
    font-size: @font-base;
    background-color: @color-hose;
}
