// out: css/styles.css

@import url('https://fonts.googleapis.com/css?family=Podkova:400,500,600,700,800&display=swap&subset=cyrillic,cyrillic-ext');

@import (reference) 'helpers';
@import (reference) 'colors';
@import 'intro'; 

@font-podkova: 'Podkova', serif;
@font-raleway: 'Raleway', sans-serif;
@font-base: 16px;  

html,body {
    font-family: @font-raleway;
}

body {
    margin: 0;
    padding: 0;
    color: @color-terra;
    font-size: @font-base;
    background-color: @color-hose;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-accent {
    font-family: @font-podkova;
}


//header 
header {
    position: relative;

    .back {
        position: relative;
        z-index: 1;
        background: @color-green url("../img/bg_header.jpg") 20% 0 no-repeat;
        background-size: auto 100%;
        height: 420px;
    }

    .logo {
        position: absolute;
        z-index: 2;
        top: 34px;
        left: 12%;
        width: 160px;
        height: 60px;
        background: transparent url("../img/logo-fullcolor-new.svg") center 0 no-repeat;
        -webkit-filter: drop-shadow(@shadow);
        filter: drop-shadow(@shadow);
        background-size: 100% auto;

        h1 {
            .text-hidden();
        }
    }

    .price {
        z-index: 2;
        position: absolute;
        background-color: @color-shade;
        width: 80%;
        padding: 20px;
        left: 0;
        right: 0;
        color: @color-hose;
        margin: auto;
        top: 160px;
        font-size: 18px;
        font-weight: 500;

        span {
            line-height: 1.2;
            text-transform: uppercase;
        }

        .middle {
            padding: 10px 0;

            span {
                font-size: 18px;
            }

            .amount {
                font-family: @font-podkova;
                font-size: 54px;
                letter-spacing: -2px;
                color: @color-sun;
            }
        }
    }
}

.underhead {
    z-index: 3;
    margin-top: -70px;
    position: relative;

    .woodbox {
        color: @color-hose;
        width: 320px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 140px;
        padding-right: 28px;
        padding-bottom: 24px;
        background: transparent url("../img/pic_woodbox-mobile.png") 0 0 no-repeat;
    }

    h2 {
        font-family: @font-podkova;
        font-size: 18px;
        font-weight: 400;
    }

    .list {
        list-style-type: none;
        font-size: 14px;

        .item {
            margin-bottom: 4px;
            line-height: 1.4;
        }
    }

    h2,
    .list {
        text-transform: uppercase;
    }

    .marked {
        color: @color-lemon;
    }

    .videobox {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 30px auto;
        text-align: center;

        video {
            box-shadow: 0px 4px 32px 6px rgba(32, 32, 32, 0.40);
            width: 100% !important;
            height: auto !important;
        }

        .features {
            padding: 30px 20px;
            color: @color-terra;
            font-family: @font-raleway;
            position: relative;
            text-align: left;

            &::after {
                position: absolute;
                right: 5%;
                content: '';
                display: block;
                bottom: 25px;
                width: 40px;
                height: 170px;
                background: transparent url("../img/pic_tools-2.png") center center no-repeat;
            }

            h3 {
                font-family: inherit;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }

            p {
                font-weight: normal;
                font-size: 18px;
            }
        }
    }
}

main {
    h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 36px;
        line-height: 1.1;
        font-weight: normal;
        margin-bottom: 4rem;
    }

    section {
        .wrapper {
            padding: 40px 10px;
            margin-left: auto;
            margin-right: auto;
        }
        .white {
            border-radius: 10px;
            background-color: #ffffff;
        }
    }

    .dark {
        color: @color-hose;
        background-color: @color-night;

        .ui.list {
            li::before {
                color: inherit;
            }
        }
    }

    .green {
        color: @color-hose;
        background-color: @color-green;
    }
}

section.why-choose {
    background: url("../img/bg_section-1-small.jpg") center bottom no-repeat;
    background-size: cover;

    p {
        text-align: justify;
    }
}

section.benefits {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 300px;
    background: @color-green url("../img/bg_section-2-small.jpg") 30% bottom no-repeat;
    background-size: 180% auto;

    ol {
        counter-reset: bCounter;
        margin: 0;
        padding: 0;
    }

    li {
        color: #ffffff;
        list-style: none;
        font-size: 18px;
        text-align: left;
        margin-bottom: 40px;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 10px;

        &::before {
            font-size: 36px;
            padding-bottom: 20px;
            counter-increment: bCounter;
            content: counter(bCounter);
            display: block;
        }
    }

}

section.technology {
    p {
        text-align: justify;
        line-height: 1.54;
        margin-left: auto;
        margin-right: auto;
    }

    .grid {
        margin-bottom: 4rem;
    }

    .pic {
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .conclusion {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

section.tendency {
    background: @color-wood url("../img/bg_section-4.jpg") center 0 no-repeat;
    background-size: cover;

    .wrapper {
        .desc.column {
            p,
            li {
                line-height: 1.54;
            }
        }
    }

    .pic {
        img {
            display: block;
            .centered();
            max-width: 100px;
        }
    }
}

section.guarantee {
    background: @color-green url("../img/bg_section-5.jpg") center bottom no-repeat;
    background-size: cover;

    .column {
        p {
            padding-bottom: 3rem;
        }
    }

    .count {
        .centered();
        width: 80px;
        height: 80px;
        position: relative;
        z-index: 2;
        font-size: 36px;
        font-family: @font-podkova;
        font-weight: bold;
        line-height: 80px;
        margin-bottom: 20px;

        &::before,
        &::after {
            border-radius: 50%;
            position: absolute;
            display: block;
            content: '';
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &::before {
            border: 1px solid #ffffff;
        }

        &::after {
            background-color: rgba(255, 255, 255, 0.2);
            margin: 10px;
        }
    }

    p {
        text-align: center;
        line-height: 1.54;
    }
}

section.plan {
    padding-left: 0;
    padding-right: 0;
    h3 {
        position: relative;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
        &::before,
        &::after {            
            top: 6px;             
            position: absolute;
            display: none;
            content: '';
            width: 150px;
            height: 45px;            
            background: url(../img/pic_tools-4.png) 0 0 no-repeat;
            background-size: 100% auto;
        }
        &::before {
            left: -165px;
        }
        &::after {
            right: -165px;
            transform: scaleX(-1); /* Standard */            
            filter: FlipH; /* IE 6/7/8 */
        }
    }
    .icon-1 {
        background-image: url("../img/icon-p1.svg");
    }

    .icon-2 {
        background-image: url("../img/icon-p2.svg");
    }

    .icon-3 {
        background-image: url("../img/icon-p3.svg");
    }

    .icon-4 {
        background-image: url("../img/icon-p4.svg");
    }

    .step-list {
        counter-reset: bCounter;
        margin: 0;
        padding: 0;        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .column {
            margin: 20px auto;
            padding: 56px 32px;
            height: 310px;
            max-width: 220px;
            background-position: center 150px;
            background-size: 145px auto;
            background-repeat: no-repeat;
            color: @color-coffee;
            list-style: none;
            border-radius: 10px;
            font-size: 18px;
            text-align: left;
            position: relative;
            font-weight: 600;
            background-color: #ffffff;           

            &::before {
                position: absolute;
                min-width: 48px;
                line-height: 48px;
                font-weight: 300;
                top: 0;
                right: 0;
                text-align: center;
                border-radius: 0 10px 0 10px;
                background: @color-mocca;
                color: @color-hose;
                font-size: 30px;
                counter-increment: bCounter;
                content: counter(bCounter);
                display: block;
            }
        }
    }
}

section.wood-house {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #edeae5 url("../img/bg_section-6.jpg") right bottom no-repeat;
    background-size: auto 400px;
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    h3 {
        font-weight: 900;
        small {
            display: block;
            text-transform: lowercase;
        }
    }
    .desc {
        text-align: center;
    }
}

section.specs {
    padding-left: 10px;
    padding-right: 10px;
    h2 {
        font-size: 30px;
        text-transform: uppercase;
    }
    h3 {
        font-weight: 700;
        font-size: 18px;
        margin: 2rem 0;
    }
    h4 {
        min-height: 50px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        padding: 0 8px;
    }
    .column {        
        .white {
            padding: 1rem;
        }
        .pic {
            text-align: center;
            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .desc {
            margin-bottom: 1rem;
        }
        .note {
            font-size: 12px;
        }
        .accordion {
            margin-top: 12px;
            box-shadow: none;
            .title {
                font-family: @font-raleway;
                padding-left: 0;
            }
        }
    }
    .trinity {
        display: flex;
        flex-direction: column;
        align-items: center;
       .column {
            width: 100%;
            max-width: 400px;            
            margin-bottom: 4rem;
       }
    }
    .price {
        background: transparent url("../img/pic_offer-yellow.png") center center no-repeat;
        background-size: 250px auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        line-height: 77px;
        max-width: 277px;
        margin-left: auto;
        margin-right: auto;
        strong {
            font-size: 24px;
        }
        &.gray {
            background-image: url("../img/pic_offer-gray.png");
        }
    }
    .addition {
        margin-top: 3rem;
        h2 {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }
        .list {
            text-align: left;
        }
    }
    .woodline {
        border-radius: 10px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 2rem;
        background: transparent url("../img/bg_section-4.jpg") center center no-repeat;
        background-size: cover;
    }
    .disclaim {
        margin-top: 2rem;
        text-align: left;
        font-size: 12px;
    }
}

section.assembling {
    background: @color-wood url("../img/bg_section-7.jpg") center center no-repeat;
    background-size: cover;
    h3 {        
        color: #ffffff;       
        font-weight: 500;
        font-size: 48px;
        small {
            text-transform: lowercase;
            display: block;
            font-size: 36px;
        }
    }
    form {
        .fields {
            flex: 1;
        }
        text-align: center;
        flex-wrap: wrap;
        button[type=submit] + .centered {
            flex-basis: 100%;
        }
    }
    .wrapper {
        padding-top: 8rem;
        padding-bottom: 12rem;
    }
}

section.faq {
    .row {
        &.white {
            margin-bottom: 2rem !important;
            padding: 2rem;
        }
        h4 {
            font-family: @font-raleway;
            margin-bottom: 4px;
            font-weight: 700;
        }
    }
}

section.question {
    padding: 0;
    background-color: @color-skin;

    a {
        color: @color-wood;
    }

    h2 {
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;

        small {
            line-height: 1;
            text-transform: initial;
            font-size: 28px;
            font-weight: normal;
            display: block;
        }
    }

    .text {
        text-align: right;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        color: @color-hose;
        background-size: cover;
        min-height: 400px;

        &.brus {
            background: url("../img/bg_contacts.jpg") right 0 no-repeat;
        }

        &.karkas {
            background: url("../img/bg_section-10-1-karkas.jpg") right 0 no-repeat;
        }

        &>* {
            max-width: 310px;
        }

        h2,
        p {
            text-shadow: @shadow;
        }
    }

    .fillmeharder {
        padding: 20px 14px;

        a {
            text-decoration: underline;
        }
        &.karkas {
            background: url("../img/bg_section-10-2-karkas.jpg") 0 0 no-repeat;
            background-size: cover;
            label {
                color: @color-hose;
            }
            a {
                color: @color-blin;
            }
        }
    }

    fieldset {
        max-width: 290px;
        border: 0;
        padding: 0.01em 0 0 0;
        margin: 0 auto 2rem auto;
        min-width: 0;
    }

    .dopustim {
        display: none;
    }    
}

footer {
    a {
        color: @color-wood;
    }

    .row {
        text-align: center;
    }

    .wrapper {
        padding: 6rem 20px 3rem;
    }

    .smallest {
        font-size: 14px;

        a {
            text-decoration: underline;
        }
    }

    .logo {
        .centered();
        width: 220px;
        height: 186px;
        background: url("../img/logo-fullcolor-new.svg") center center no-repeat;

        p {
            .text-hidden();
        }
    }

    .contacts,
    .address {
        font-size: 18px;
        padding-top: 40px;
    }

    .phone {
        font-size: 28px;
        font-family: @font-podkova;
    }

    .contacts {
        a {
            display: inline-block;
            margin-bottom: 12px;
        }
    }
}

button,
.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: @font-podkova;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: none;
    -webkit-tap-highlight-color: transparent;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;

    &.yellow {
        color: @color-wood;
        background-color: @color-sun;
        border-top: transparent 4px solid;
        border-bottom: @color-blin 4px solid;
    }

    &.wide {
        min-width: 290px;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.flexy { 
    display: flex !important;
    .ui.modal > &.header {
        align-items: center;
        justify-content: space-between;
        h3 {
            margin-bottom: 0;
        }
        .cancel {
            padding: 5px 10px;
            width: auto;
            height: auto;
            font-size: 16px;
        }
    }
}
.callback {
    .hidden {
        display: none;
    }
}
.legal {
    iframe {
        width: 100%;
        min-height: 400px;
    }
}
.modal {
    .header .cancel {
        cursor: pointer;
    }
}
.v-space {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &.double {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &.triple {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &.quad {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.ui.form {
    input:not([type]),
    input[type=date],
    input[type=datetime-local],
    input[type=email],
    input[type=file],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    textarea {
        border-radius: 0;
        font-family: @font-raleway;
    }
}

@import 'media';