@import url('https://fonts.googleapis.com/css?family=Podkova|Raleway&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Podkova', serif;
  font-size: 16px;
  background-color: #fbf5e8;
}
