// out: css/styles.css

@import url('https://fonts.googleapis.com/css?family=Podkova&script=all&rev=1|Raleway&display=swap');

@import (reference) 'helpers';
@import (reference) 'colors';

@font-podkova:   'Podkova', serif;
@font-raleway:   'Raleway', sans-serif;
@font-base:      16px;


html, body {
    font-family: @font-raleway;
}

body {
    margin: 0;
    padding: 0;    
    font-size: @font-base;
    background-color: @color-hose;
}

h1, h2, h3, h4, h5, h6, .text-accent {
    font-family: @font-podkova;
}

//header 
header {
    background: @color-green url("../img/bg_header.jpg") 20% 0 no-repeat;
    background-size: auto 100%;
    height: 420px;
    position: relative;
    .logo {
        position: absolute;
        top: 20px;
        left: 25px;        
        width: 150px;
        height: 100px;
        background: transparent url("../img/logo.svg") 0 0 no-repeat;        
        -webkit-filter: drop-shadow(0px 2px 2px rgba(89, 89, 89, 0.50));
        filter: drop-shadow(0px 2px 2px rgba(89, 89, 89, 0.50));
        h1 {            
            .text-hidden();
        }
    }
    .price {
        position: absolute;
        background-color: @color-shade;
        width: 80%;
        padding: 20px;
        left: 0; 
        right: 0;
        color: @color-hose;
        margin: auto;
        top: 160px;
        font-size: 22px;
        font-weight: 500;
        span {
            line-height: 1.2;
            text-transform: uppercase;
        }
        .middle {
            padding: 10px 0;
            span {
                font-size: 18px;
            }
            .amount {
                font-family: @font-podkova;
                font-size: 54px;
                letter-spacing: -2px;
                color: @color-sun;
            }
        }        
    }
}

.underhead {
    color: @color-hose;
    top: 350px;
    position: relative;
    .woodbox {
        width: 320px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 140px;
        padding-right: 28px;
        padding-bottom: 24px;        
        background: transparent url("../img/pic_woodbox-mobile.png") 0 0 no-repeat;
    }
    h2 {
        font-family: @font-podkova;
        font-size: 18px;
        font-weight: 400;        
    }
    .list {    
        list-style-type: none;
        font-size: 14px;        
        .item {
            margin-bottom: 4px;
            line-height: 1.4;
        }
    }
    h2, .list {
        text-transform: uppercase;
    }
    .marked {
        color: @color-lemon;
    }
    .videobox {
        margin: 30px auto;
        text-align: center;
        video {
            box-shadow: 0px 4px 32px 6px rgba(32, 32, 32, 0.40);
        }
    }
}

footer {
    .logo {
        p {
            .text-hidden();
        }
    }
}

@import 'media';
@import 'media-480';
@import 'media-720';
@import 'media-960';
@import 'media-1280';